html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.container {
    margin: 0 15%;
    max-width: 1600px;
    color: #000000;
    background-color: rgb(228, 209, 173);
    font: 25px/2 'Oswald', sans-serif;
}

.list {
    width: 100%;
}

.list__field {
    background-color: bisque;
    padding: 10px;
    margin: 5px 0;
}

.list__field--biggerGap {
    margin: 15px 0 0 0;
}

.list__item {
    background-color: bisque;
    margin: 5px 0;
    list-style-type: none;
}

.list__item--row {
    display: flex;
    justify-content: flex-start;
}

.button__done {
    background-color: green;
}

.button__remove {
    justify-self: flex-end;
}