html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.container {
    margin: 0 15%;
    max-width: 1600px;
    color: #000000;
    background-color: rgb(228, 209, 173);
    font: 25px/2 'Oswald', sans-serif;
}

.list {
    width: 100%;
}

.list__field {
    background-color: bisque;
    padding: 10px;
    margin: 5px 0;
}

.list__field--biggerGap {
    margin: 15px 0 0 0;
}

.list__item {
    background-color: bisque;
    margin: 5px 0;
    padding: 5px;
    list-style-type: none;
    min-height: 80px;
}

.list__item--row {
    display: grid;
    grid-template-columns: 50px 7fr 50px;
    grid-gap: 10px;
    align-content: center;
}

.button__done {
    background-color: green;
    width: 50px;
}

.done {
    background-image: url("https://i.postimg.cc/Pq3H0494/Kosz.png");
}

.button__remove {
    background-image: url("https://i.postimg.cc/Pq3H0494/Kosz.png");
    background-size: cover ;
    width: 50px;
    height: 50px;
}